# Generic IDE or OS files
.idea
.vscode
.vagrant
.atom-hack
.DS_Store
www.pid

# Package manager files
node_modules
deps

# Credentials and certificates
app/credentials.hh
config/certs
config/ingress-secrets.yaml

# Configurations
config/app.local*

# Arbitrary ignored files
app/sitemap.xml
assets/satrah/css
assets/satrah/js
assets/lib
.data
.notes
*.so
