# Generic IDE or OS files
.idea
.vscode
.vagrant
.atom-hack
.DS_Store
www.pid

# Package manager files
node_modules
deps

# Credentials and certificates
app/credentials.php
config/certs

# Configurations
config/app.local*

# Arbitrary ignored files
app/sitemap.xml
assets/solah/css
assets/solah/js
assets/lib
.data
.notes
*.so
