# Set the default behavior for line endings
* text eol=lf

# Binary files
*.so binary
*.eot binary
*.png binary
*.jpg binary
*.jepg binary
*.webp binary
*.ico binary
*.psd binary
*.ttf binary
*.woff binary
*.woff2 binary
